@import '~@angular/material/theming';
@import "variables";

$config: mat-typography-config();

.diagram {

  &__axis {
    @include mat-typography-level-to-styles($config, body-1);

    &--x {}
    &--y {}
    &--secondary {
      text {
        fill: map_get($mat-gray, 400);
      }
    }
    &--name {
      font-size: 14px;
      text-anchor: middle;
      fill: map_get($mat-grey, 500);
    }

  }

  &__line {
    line {
      stroke-width: 2px;
    }
    //@include material-animation-default(); // todo
    &--interactive {
      &:hover {
        line {
          cursor: pointer;
          stroke-width: 4px;
        }
      }
    }
    &--horizontal, &--vertical {
      line {
        stroke: map_get($mat-gray, 300);
        stroke-width: 1px;
      }
    }
  }

  &__interactive {
    cursor: pointer;
    fill-opacity: 0.9;
    //@include material-animation-default(); // todo
    &:hover {
      fill-opacity: 1;
    }
  }

  &__icon {
    fill: white;
    font: normal normal normal 24px/1 '#{$mdi-font-name}';
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__hide {
    display: none;
  }


  // colors
  &__red {
    &-400 {
      fill: map_get($mat-red, 400);
    }
    &-400-line {
      stroke: map_get($mat-red, 400);
    }
  }

  &__grey {
    &-200 {
      fill: map_get($mat-gray, 200);
    }
    &-300 {
      fill: map_get($mat-gray, 300);
    }
    &-600-line {
      stroke: map_get($mat-gray, 600);
    }
  }

  &__blue-grey {
    &-200 {
      fill: map_get($mat-blue-grey, 200);
    }
    &-400 {
      fill: map_get($mat-blue-grey, 400);
    }
  }

  &__blue {
    &-400-line {
      stroke: map_get($mat-blue, 400);
    }
    &-600 {
      fill: map_get($mat-blue, 600);
    }
    &-600-line {
      stroke: map_get($mat-blue, 600);
    }
  }

  &__teal {
    &-200 {
      fill: map_get($mat-teal, 200);
    }
    &-400 {
      fill: map_get($mat-teal, 400);
    }
    &-400-line {
      stroke: map_get($mat-teal, 400);
    }
  }

  &__deep-orange {
    &-200 {
      fill: map_get($mat-deep-orange, 200);
    }
    &-400 {
      fill: map_get($mat-deep-orange, 400);
    }
  }

  &__green {
    &-400 {
      fill: map_get($mat-green, 400);
    }
    &-400-line {
      stroke: map_get($mat-green, 400);
    }
    &-A400-line {
      stroke: map_get($mat-green, A400);
    }
  }

  &__deep-purple {
    &-300 {
      fill: map_get($mat-deep-purple, 300);
    }
    &-600 {
      fill: map_get($mat-deep-purple, 600);
    }
    &-600-line {
      stroke: map_get($mat-deep-purple, 600);
    }
  }

  // other
  .domain {
    stroke: none;
  }

}
