@import (reference) "~goodt-framework-css/src/_params.less";
@import (reference) "~goodt-framework-css/src/_helpers.less";
@import "~goodt-framework-css/src/components/button.less";
@import "../../styles/_widget.less";

.widget {
    overflow: initial;      // Чтобы тултипы были видны
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--spacer3);
    line-height: 1.5em;
}

.chart {
    width: 100%;
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.header {
    display: flex;
}

.widget:hover .toolbox {
    opacity: 1.0;
}

.toolbox {
    display: flex;
    transition: all 0.1s;
    opacity: 0.0;

    .toolbtn {
        cursor: pointer;
        width: calc(var(--unit) * 3);
        height: calc(var(--unit) * 3);
        min-height: calc(var(--unit) * 3);
        transition: all 0.1s;
        line-height: inherit;
        opacity: 0.8;
        background: transparent !important;

        &:hover {
            opacity: 1.0;
            transform: scale(1.2);
        }

        i {
            line-height: inherit;
        }
    }
}
