@import (reference) "~goodt-framework-css/src/_params.less";
@import (reference) "~goodt-framework-css/src/_helpers.less";
@import "~goodt-framework-css/src/utility.less";
@import "../../styles/_widget.less";

.widget {
    @import "~goodt-framework-css/src/typography.less";
}

.title {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--spacer3);
    line-height: 1.5em;
}

.progress {
    height: var(--spacer-layout5);
    width: var(--spacer-layout5);

    min-height: var(--spacer-layout5);
    min-width: var(--spacer-layout5);
}

.d-grid {
    display: grid;
}

.inverted-bg {
    background-color: var(--color-primary) !important;      // Перекрываем стили
}

.js-title {
    dummy: style;       // Чтобы класс создался и можно было адресовать через JS
}
.js-volume {
    dummy: style;       // Чтобы класс создался и можно было адресовать через JS
}
.js-plan {
    dummy: style;       // Чтобы класс создался и можно было адресовать через JS
}
.js-background {
    dummy: style;       // Чтобы класс создался и можно было адресовать через JS
}
