@import (reference) "~goodt-framework-css/src/_params.less";
@import (reference) "~goodt-framework-css/src/_helpers.less";
@import "~goodt-framework-css/src/typography.less";
@import "~goodt-framework-css/src/utility.less";
@import "../../styles/_widget.less";

.title {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--spacer3);
    line-height: 1.5em;
}

.progress {
    height: var(--spacer-layout5);
    width: var(--spacer-layout5);

    min-height: var(--spacer-layout5);
    min-width: var(--spacer-layout5);
}

.d-grid {
    display: grid;
}
