/** DON'T pack this file in bundle anywhere */

@import 'assets/all.min.css';
@import 'assets/materialdesignicons.css';

@font-face {
    font-family: 'PTRootUIWebRegular';
    src: url('assets/fonts/regular/pt-root-ui-regular.eot');
    src:
            url('assets/fonts/regular/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
            url('assets/fonts/regular/pt-root-ui-regular.woff2') format('woff2'),
            url('assets/fonts/regular/pt-root-ui-regular.woff') format('woff'),
            url('assets/fonts/regular/pt-root-ui-regular.ttf') format('truetype'),
            url('assets/fonts/regular/pt-root-ui-regular.svg#PTRootUIWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebRegular';
    src: url('assets/fonts/bold/pt-root-ui-bold.eot');
    src:
            url('assets/fonts/bold/pt-root-ui-bold.eot?#iefix') format('embedded-opentype'),
            url('assets/fonts/bold/pt-root-ui-bold.woff2') format('woff2'),
            url('assets/fonts/bold/pt-root-ui-bold.woff') format('woff'),
            url('assets/fonts/bold/pt-root-ui-bold.ttf') format('truetype'),
            url('assets/fonts/bold/pt-root-ui-bold.svg#PTRootUIWeb-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
