/* screen resolutions */
@viewport-xl: 1280px; 	// xl
@viewport-l: 1024px; 	    // l
@viewport-m: 840px; 	    // m
@viewport-s: 640px; 	    // s

/* container */
@container-max-width: 1100px;

/* font related */
@font-family: 'PTRootUIWebRegular', Helvetica, Arial, sans-serif;
@font-family-headings: 'PTRootUIWebRegular', Helvetica, Arial, sans-serif;
@font-size: 16px;

@font-size-h1: @font-size*3;
@h1-line-height: @font-size*3.75;
@h1-margin-bottom: @spacer7;

@font-size-h2: @font-size*2;
@h2-line-height: @font-size*2.5;
@h2-margin-bottom: @spacer6;

@font-size-h3: @font-size*1.5;
@h3-line-height: @font-size*1.875;
@h3-margin-bottom: @spacer5;

@font-size-h4: @font-size*1.125;
@h4-line-height: @font-size*1.4375;
@h4-margin-bottom: @spacer3;

@font-size-smaller: @font-size*0.875;   // 14px
@font-size-larger: @font-size*1.125;    // 18px
@line-height: 1.5;

/* core colors */
@color-body: #2C2C2C;
@color-link: #1A67FE;

/* shared theme colors */
@color-primary: #1A67FE;
@color-red:	 #ED5564;
@color-green: #0ACF83;
@color-blue: #5e9dec;
@color-yellow: #F7C844;
@color-highlight: #ffd;
@color-orange: #FF994D;
@color-grey: #999;
@color-grey-dark: #666;
@color-grey-light: rgb(220, 220, 220);
@color-grey-lighter: #f6f6f6;
@color-white: #fff;
@color-black: #000;
@color-muted: @color-grey-light;
@color-disabled: #eee;
@color-disabled-dark: darken(@color-disabled, 15%);
@color-border: #eee;
@color-focus: @color-primary;

/* radius */
@border-radius: 4px;

@border-radius1: @border-radius;
@border-radius2: @border-radius*2;
@border-radius3: @border-radius*4;
@border-radius4: @border-radius*8;
@border-radius5: @border-radius*16;

@unit: 8px;

/* spacer */
@spacer: @unit*2;

@spacer1: @spacer*0.125;
@spacer2: @spacer*0.25;
@spacer3: @spacer*0.5;
@spacer4: @spacer*0.75;
@spacer5: @spacer;
@spacer6: @spacer*1.5;
@spacer7: @spacer*2;
@spacer8: @spacer*2.5;
@spacer9: @spacer*3;

@spacer-layout1: @spacer;
@spacer-layout2: @spacer*1.5;
@spacer-layout3: @spacer*2;
@spacer-layout4: @spacer*3;
@spacer-layout5: @spacer*4;
@spacer-layout6: @spacer*6;
@spacer-layout7: @spacer*10;

/* width fixed */
@width-fixed: (@unit*16);
@width-fixed1: @width-fixed*1;
@width-fixed2: @width-fixed*2;
@width-fixed3: @width-fixed*3;
@width-fixed4: @width-fixed*4;
@width-fixed5: @width-fixed*5;
@width-fixed6: @width-fixed*6;
@width-fixed7: @width-fixed*7;
