@import (reference) '../../../node_modules/goodt-framework-css/src/_params.less';
@import (reference) '../../styles/theme.less';

.widget {
}

.title {
}

.table {
    td,
    th {
        border-right: 1px solid @color-grey-lighter;

        &:last-child {
            border-right: none;
        }
    }

    .title {
        text-align: center;
        white-space: nowrap;
        border-bottom: 1px solid @color-grey-lighter;
        margin-bottom: 6px;
        padding-bottom: 2px;
    }
}
