@import (reference) '~goodt-framework-css/src/_params.less';
@import (reference) '../../styles/theme.less';

@max-width: 328px;
@max-height: 200px;
@numbers-height: 20px;

.widget {
    position: relative;
    text-align: center;
    font-size: calc(100% / unit(@font-size));       // Базовый размер шрифта относительно родительского, от него через em будут считаться дочерние шрифты

    .widget-inner {
        font-size: 100%;        // Calculated font size
    }
}

.chart {
    position: relative;
    width: 100%;
    height: ~"calc(100% + 20px)";
    max-width: @max-width;
    max-height: @max-height;
    display: inline-block;
    padding-bottom: @numbers-height;
    overflow: hidden;

    .value {
        color: #999;
        position: absolute;
        bottom: 5px;
        font-size: 13px;        // Здесь пока не надо em

        &.minValue {
            left: 0;
        }
        &.maxValue {
            right: 0;
        }
    }
}

.info {
    @info-width: 220px;
    @info-left: @info-width / 2;
    @info-top: unit(90px / @max-height);

    color: #333;
    position: absolute;
    width: @info-width;
    text-align: center;
    left: ~"calc(50% - @{info-left})";
    top: ~"calc(@{info-top} * 100%)";
    right: 0;
}

.current-value {
    font-size: 3.5em;
    line-height: 1;
    font-weight: bold;
}

.title {
    font-size: 1em;
    line-height: 1.5;
}

.icon {
    @icon-size: 48px;
    @icon-left: unit(@icon-size / 2 / @max-width);
    @icon-top: unit(32px / @max-height);
    @icon-width: unit(@icon-size / @max-width);
    @icon-height: unit(@icon-size / @max-height);

    position: absolute;
    left: ~"calc(50% - @{icon-left} * 100%)";
    top: ~"calc(@{icon-top} * 100%)";
    width: ~"calc(@{icon-width} * 100%)";
    height: ~"calc(@{icon-height} * 100%)";
    max-width: @icon-size;
    max-height: @icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdf4da;
    border-radius: 50%;

    &:before {
        font-size: 1.5em !important;
    }
}
